* {
    font-family: Sans-Serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%
}

#header {
    background-color: #F9FF98;
    height: 10%;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 2px solid grey;
}

#header img {
    height: 75%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 7px;
    vertical-align: middle;
}

h1 {
    color: #64441F;
    display: inline-block;
    margin: 0px;
    padding-left: 1%;
    height: 80%;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
    vertical-align: middle;
}

h2 {
    color: #64441F;
}

h3 {
    color: #64441F;
}

#searchbar {
    float: right;
    padding-top: 1%;
    padding-right: 2%;
}

#searchbar input {
    height: 35px;
    //padding-bottom: 3px;
}

hr {
    margin: 0px;
    padding: 0px;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

body {
    background-position: center top;
    background-size: auto 10%;
    background-repeat: repeat-x;
}

#bookshelf {
    float: left;
    padding: 2%;
    width: 66%;
    height: auto;
    min-height: 100% !important;
    padding-bottom: 0px;
}

#sidebar {
    float: left;
    border-left: 2px solid grey;
    padding: 1%;
    height: 100%;
    width: 27.8%;
    min-width: 250px;
    background-color: #fcffc5;
}

.clear {
    background:none;
    border:none; 
    padding:0;
    
    /*optional*/
    color:#069;
    cursor:pointer;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 350px;
  margin: 1rem;
  position: relative;
  width: 20%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-img {
    width:100%;
    max-height: 310px !important;
}

.flat-btn {
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.flat-btn:active {
    padding-top: 15px;
        margin-bottom: -1px;
}

.flat-btn, .flat-btn:hover, .flat-btn:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}

.orange-btn {
    background-color: #fdc058;
    box-shadow: 0px 3px 0px 0px #e29003;
}
.orange-btn:hover {
    background-color: #fdb53a;
}
.orange-btn:active {
    box-shadow: 0px 1px 0px 0px #e29003;
}

.red-btn {
    background-color: #ff6a80;
    box-shadow: 0px 3px 0px 0px #da0020;
}
.red-btn:hover {
    background-color: #ff566f;
}
.red-btn:active {
    box-shadow: 0px 1px 0px 0px #da0020;
}

#adminbtn {
    margin-right: 25px;
}

noscript {
    color: red;
    margin-left: 10px;
}

.book-upload {
    margin-top: 5%;
}

.footnote {
    padding-top: 15px;
    color: #9D9999;
    font-size: small;
    text-align: center;
}

.footnote hr {
    margin-bottom: 5px;
    color: #9D9999;
    background-color: #9D9999;
}

#nobooks {
    width: 100%;
    margin: auto;
    text-align: center;
}

#nobooks img {
    margin-top: 15%;
}

#nobooks em {
    color: lightgrey;
}

#book-manager {
    float: left;
    width: 65%;
    height: 100%;
    padding: 15px;
}

#book-approve {
    float: left;
    width: 30%;
    border-left: 2px solid grey;
    height: 100%;
    padding: 15px;
}

.book-widget {
    width: 80%;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.book-delete {
    float: right;
}

#no-password-warning {
    color: white;
    background: red;
    padding: 15px;
    display: none;
}

#no-password-warning h3 {
    color: white !important;
    margin-top: 0px;
}

#no-password-warning-input {
    margin-top: 10px;
    height: 35px;
}

#footer-footer {
    width: 100%;
    height: 40px;
    clear: left;
    margin-bottom: 15px;
}

#navigation {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    clear: none;
}

#navigation button, #page-counter {
    float: left;
    clear: none;
    width: 31%;
}

#big-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#book-approve hr {
    margin-top: 15px;
}

.footnote a {
    text-decoration: inherit;
    color: inherit;
}

.cssload-circle{
        position:relative;
        margin:49px auto;
        width:78px;
        height:78px;
        background:rgb(236,240,241);
        border:solid 5px rgb(44,62,80);
        border-radius:100%;
        overflow:hidden;
        animation: cssload-rotates 2.3s infinite linear;
        -o-animation: cssload-rotates 2.3s infinite linear;
        -ms-animation: cssload-rotates 2.3s infinite linear;
        -webkit-animation: cssload-rotates 2.3s infinite linear;
        -moz-animation: cssload-rotates 2.3s infinite linear;
}
.cssload-up{
        width: 29px;
        height: 39px;
        left:24px;
        overflow:hidden;
        background:rgb(204,238,255);
        position:absolute;
}
.cssload-up:before,.cssload-up:after{
        content:"";
        width:29px;height:29px;
        background:rgb(236,240,241);
        position:absolute;
        z-index:1;
}
.cssload-up:before{
        top:29px;
        left:-17px;
        transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
}
.cssload-up:after{
        top:29px; left:17px;
        transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
}
.cssload-innera{
        position:relative;
        top:15px;
        width:29px;height:29px;
        background:rgb(241,196,15);
        animation: cssload-mymove 2.3s infinite linear;
        -o-animation: cssload-mymove 2.3s infinite linear;
        -ms-animation: cssload-mymove 2.3s infinite linear;
        -webkit-animation: cssload-mymove 2.3s infinite linear;
        -moz-animation: cssload-mymove 2.3s infinite linear;
}
.cssload-down{
        width: 29px;
        height: 39px;
        left:24px;
        top:39px;
        overflow:hidden;
        background:rgb(204,238,255);
        position:absolute;
        z-index:1;
}
.cssload-down:before,.cssload-down:after{
        content:"";
        width:29px;
        height:39px;
        background:rgb(236,240,241);
        position:absolute;
        z-index:1;
}
.cssload-down:before{
        top:-24px;
        left:-17px;
        transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
}
.cssload-down:after{
        top:-24px;
        left:23px;
        transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
}
.cssload-innerb{
        position:relative;
        top:39px;
        width:29px;height:29px; background:rgb(241,196,15);
        animation: cssload-mymoveb 2.3s infinite linear;
        -o-animation: cssload-mymoveb 2.3s infinite linear;
        -ms-animation: cssload-mymoveb 2.3s infinite linear;
        -webkit-animation: cssload-mymoveb 2.3s infinite linear;
        -moz-animation: cssload-mymoveb 2.3s infinite linear;
}






@keyframes cssload-mymove{
        0%{top:15px;}
        100%{top:44px;}
}

@-o-keyframes cssload-mymove{
        0%{top:15px;}
        100%{top:44px;}
}

@-ms-keyframes cssload-mymove{
        0%{top:15px;}
        100%{top:44px;}
}

@-webkit-keyframes cssload-mymove{
        0%{top:15px;}
        100%{top:44px;}
}

@-moz-keyframes cssload-mymove{
        0%{top:15px;}
        100%{top:44px;}
}

@keyframes cssload-mymoveb{
        0%{top:39px;}
        90%{top:19px;}
        100%{top:-5px;}
}

@-o-keyframes cssload-mymoveb{
        0%{top:39px;}
        90%{top:19px;}
        100%{top:-5px;}
}

@-ms-keyframes cssload-mymoveb{
        0%{top:39px;}
        90%{top:19px;}
        100%{top:-5px;}
}

@-webkit-keyframes cssload-mymoveb{
        0%{top:39px;}
        90%{top:19px;}
        100%{top:-5px;}
}

@-moz-keyframes cssload-mymoveb{
        0%{top:39px;}
        90%{top:19px;}
        100%{top:-5px;}
}

@keyframes cssload-rotates{
        0%{transform:rotate(0deg);}
        80%{transform:rotate(0deg);}
        100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-rotates{
        0%{-o-transform:rotate(0deg);}
        80%{-o-transform:rotate(0deg);}
        100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-rotates{
        0%{-ms-transform:rotate(0deg);}
        80%{-ms-transform:rotate(0deg);}
        100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-rotates{
        0%{-webkit-transform:rotate(0deg);}
        80%{-webkit-transform:rotate(0deg);}
        100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-rotates{
        0%{-moz-transform:rotate(0deg);}
        80%{-moz-transform:rotate(0deg);}
        100%{-moz-transform:rotate(180deg);}
}

#nobooks, #everything-else {
    display: none;
}

#witty-loading {
    text-align: center;
}
